<!DOCTYPE html>
<html>
<head>
</head>
<body>

<ul>
    <li>
        <a href="{{ path('tournament_index') }}">Список всех доступных турниров</a>
    </li>
    <li>
        <a href="{{ path('team_index') }}">Список команд с возможностью добавления/удаления</a>
    </li>
    <li>
        <a href="{{ path('tournament_create') }}">Список доступных турниров с возможностью добавить/удалить</a>
    </li>
</ul>

<hr>
<br>

{% block body %}{% endblock %}
</body>
</html>
